# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

language: objective-c
podfile: Example/Podfile
osx_image: xcode8
xcode_workspace: Example/FlexibleSteppedProgressBar.xcworkspace
xcode_scheme: FlexibleSteppedProgressBar_Example
xcode_sdk: iphonesimulator9.3
